.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    background: #FF6060;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    color: #FFFFFF;
}