.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section img {
    width: 90%;
}

.about-section .card-dropdown {
    width: 80%;
    margin-top: 30px;
}

.about-section .card-dropdown img {
    width: 14px;
    height: 23px;
}
