.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}

.about-section .card-dropdown {
    width: 80%;
    margin-top: 30px;
}

.about-section .card-dropdown img {
    width: 14px;
    height: 23px;
}

@media screen and (max-width: 760px) {
    .about-section img {
        height: 223px;
    }

    .about-section .card-dropdown {
        width: 100%;
    }
}