.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section img {
    width: 1240px;
    height: 223px;
}

.card-dropdown {
    width: 1023px;
    margin-top: 30px;
}

.card-dropdown img {
    width: 14px;
    height: 23px;
}
