
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

main, header {
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 390px) {
    main, header {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.cards {
    display: flex;
    justify-content: center;
    background: #F7F7F7;
    flex-wrap: wrap;
    margin-top: 30px;
}

.img-home-header {
    width: 100%;
}

@media screen and (max-width: 390px) {
    .cards {
        flex-direction: column;
        background-color: white;
    }

    .card {
        Width: 335px;
        Height: 255px;
    }
}