
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

main, header {
    padding-left: 50px;
    padding-right: 50px;
}

.top-img-and-title {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.top-img-and-title h1 {
    position: absolute;
    color: #F7F7F7;
    font-size: 40px;
    font-weight: 500;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.top-img-and-title img {
    filter: brightness(70%);
}

.cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #F7F7F7;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.img-home-header {
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}

@media screen and (max-width: 760px) {
    main, header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .top-img-and-title {
        margin-top: 0;
    }

    .cards {
        flex-direction: column;
        background-color: white;
        justify-content: center;
        padding: 0;
    }

    .card {
        Width: 335px;
        Height: 255px;
    }

    .img-home-header {
        height: 150px;
        width: 95%;
    }

    .top-img-and-title h1 {
        font-size: 24px;
        left: 40%;
        top: 30%;
    }
}