.card {
    position: relative;
    height: 340px;
    width: 340px;
    border-radius: 10px;
    margin: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    position: absolute;
    color: white;
    left: 6%;
    right: 6%;
    bottom: 6%;
    font-weight: 500;
    font-size: 18px;
}

