.appartment-title {
    display: flex;
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    margin-bottom: 10px;
}

.location-text {
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
}

.tag-list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.description-equipment {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.description-equipment .card-dropdown {
    width: 48%;
}

.appartment-details {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.host-and-rate .host {
    font-size: 18px;
    margin-bottom: 20px;
    justify-content: end;
}

.host-and-rate .host img {
    width: 64px;
    height: 64px;
}

@media screen and (max-width: 480px) {
    .appartment-title {
        font-size: 18px;
    }

    .location-text {
        font-size: 14px;
    }

    .appartment-details {
        flex-direction: column;
    }

    .tag-list {
        margin-top: 10px;
    }

    .host-and-rate .host {
        font-size: 12px;
    }

    .host-and-rate {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .host-and-rate .host img {
        width: 32px;
        height: 32px;
    }

    .host-and-rate img {
        width: 24px;
        height: 24px;
    }

    .description-equipment {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .description-equipment .card-dropdown {
        width: 100%;
        margin-top: 10px;
    }

}