header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 30px;
    padding-left: 0;
}

header img {
    width: 210px;

}

header {
    justify-content: space-between;
    margin-top: 30px;
}

.header-navBar {
    display: flex;
}

.header-link {
    font-weight: 500;
    font-size: 24px;
    text-align: right;
    color: #FF6060;
    text-decoration: none;
    margin-left: 50px;
}

.header-link:hover {
    text-decoration-line: underline;
}

@media screen and (max-width: 480px) {

    header {
        align-items: center;
        justify-content: normal;
        text-transform: uppercase;
    }

    header img {
        width: 80%;
        padding-left: 10px;
    }
    .header-link {
        font-size: 12px;
        margin-left: 10px;
    }
}