body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

main, header {
    padding-left: 50px;
    padding-right: 50px;
}


@media screen and (max-width: 760px) {
    main, header {
        padding-left: 10px;
        padding-right: 10px;
    }
}