.image-carousel {
    position: relative;
    height: 415px;
    border-radius: 20px;
}

.image-carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.btn-next {
    position: absolute;
    right: 2%;
    top: 50%;
}

.btn-previous {
    position: absolute;
    left: 2%;
    top: 50%;
}

.carousel-counter {
    position: absolute;
    left: 49%;
    right: 49%;
    top: 86%;
    bottom: 6%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 760px) {
    .btn-next img {
        height: 24px;
        width: 24px;
    }
    .btn-previous img {
        height: 24px;
        width: 24px;
    }
    .image-carousel {
        height: 255px;
    }

    .carousel-counter {
        display: none;
    }
}

