footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 209px;
    background: #000000;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 0;
}

.footer-text {
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
}

footer img {
    padding-top: 30px;
    width: 122px;
    height: 39px;
}