.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.error-page-title {
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    align-items: center;
    text-align: center;
    color: #FF6060;
    margin-bottom: 0;
}

.error-description {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 100px;
    text-align: center;
    color: #FF6060;
    
}

.error-link a {
    font-weight: 500;
    font-size: 18px;
    text-decoration-line: underline;
    color: #FF6060;
}

@media screen and (max-width: 480px) {
    .error-page-title {
        font-size: 96px;
    }
    .error-description {
        font-size: 18px;
    }

    .error-link a {
        font-size: 14px;
    }
}